 /* PAGE STYLING */
html {
    height: 100%;
}
body {
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif; 
    z-index: 1
}
a:hover,
a:focus,
a {
	color: #0CF;
}
h1 {
    font-family: 'Francois One', sans-serif;
    color: white;
    text-align: center;
    font-size: 60px;  
}
h2 {
    font-family: 'Francois One', sans-serif;
    color: white;
    text-align: left;
    font-size: 40px;
    margin: 15px 0 0 15px;
}
h3 {
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'Francois One', sans-serif;
}
h4 {
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: 'Francois One', sans-serif;
    text-transform: capitalize;
}
.row {
    width: 80%;
    margin: 20px auto;
}

/* == START HOME PAGE STYLING ==  */
body.home {
	background: 
     linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/typewriter.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.landingMessage {
    text-align: center;
}
.landingMessage a {
    color: white;
    border: 2px solid white;
    padding: 1%;
    margin: 0;
    font-size: 16px;
    transition: 1s;
    text-transform: uppercase;
}
.landingMessage a:hover {
    background-color: white;
    border-color: 2px solid black;
    color: black;
    transition: 1s;
    text-decoration: none;
}
#text_slider {
    width: 30%;
    height: 100px;
    margin: 5% auto 50px auto;
}
#text_slider div {
    position: absolute;
}
#text_slider h1 {
   text-indent: 0;
   margin-top: 45px;
}
/* MENU STYLING */
.menu {
    background-color: rgb(51,51,51);
	right: -250px;  
    height: 100%;
    position: fixed;
    width: 250px;
    z-index: 2;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    font-family: 'Oswald', sans-serif;
    line-height: 50px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-top: 10px;
    text-align: center;
}
.menu li:hover {
    background-color: rgb(0,204,255);
    background-color: rgba(0,204,255,0.7);
}
.menu li.active {
    background-color: rgb(0,204,255);
    background-color: rgba(0,204,255,0.2);
}
.menu a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 25%;
}
header {
    transition: 1s;
}
.icon-close {
    padding: 10px 20px;
    font-size: 35px;
    text-align: left;
}
.icon-close i {
    cursor: pointer;
}
.icon-menu {
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Francois One', sans-serif;
    padding-bottom: 25px;
    padding-right: 50px;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
}
.fa-arrow-right {
    color: white;
}
.fa-arrow-right:hover {
    color:  rgb(0,204,255);
}

/* DATE AND TIME STYLING */
#clock,
#date {
    font-family: 'Oswald', sans-serif;
    color: white;
    bottom: 0;
    position: fixed;
}
#clock {
    font-size: 40px;
    padding-bottom:50px;
    padding-left: 40px;
}
#date {
    font-size: 30px;
    padding-bottom: 20px;
    padding-left: 44px;
}

/* LOGO STYLING */
#logo {
	padding: 12px;
	height: auto;
	width: auto;
}
#smallLogo {
    display: none;
}
/* == END HOME PAGE STYLING == */

/* == START ABOUT PAGE STYLING ==  */
div.about {
    background: url(../images/background_about_page.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    width:100%;
    height:100%;
}
body.about {
    background-color: #333;
}
.aboutContent { 
    margin: 20px auto 100px auto; 
    padding: 2%;
    color: white;
    line-height: 1.7;
    width: 85%;
    font-size: 16px;
}
.aboutContent p {
    width: 60%;
    float: left;
}
.about h2 {
    text-align: left;
    margin: 10% 0;
}
.profile_pic {    
    width: auto;
	border-radius: 50%;
	float: right;
}
#quote {
    font-family: 'Francois One', sans-serif;
    line-height: 1.5;
    color: white;
    font-size: 3em;
    margin: 5% auto;
    text-align: center;
    width: 70%;
    display: block;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}
/* == END ABOUT PAGE STYLING ==  */


/* == START PORTFOLIO PAGE STYLING ==  */
body.portfolio {
    background: url(../images/abstract-140898_1920.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.portfolioContent { 
    margin: 20px auto; 
    padding: 3%;
    color: white;
    text-align: center;
    height: 300px;
    background-color: rgb(51,51,51);
    background-color: rgba(51,51,51,0.9);
}
.portfolio h2 {
    line-height: 0.1;
}
.portfolio .container h2 {
    display: inline-block;
    margin: 25px auto;
}
.portfolioContent p {
    text-align: center;
    font-size: 12px;
}
.portfolioContent img {
    border-radius: 50%;
}
.container {
    width: 80%;
}
.gallery .row {
    width: 100%;
}
.gallery .row:last-of-type {
    margin-bottom: 100px;
}
.gallery .row img {
    height: 125px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0);
    border: none;
    display: block;
    margin: 15px auto;
}
/* == END PORTFOLIO PAGE STYLING ==  */


/* == START CONTACT PAGE STYLING ==  */
body.contact {
    background: url(../images/office-581131_1920.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contact h2 {
    line-height: 0.1;
}
.contactContent {
    padding: 4% 2%;
    margin: 20px auto 100px auto;
    color: white;
    background-color: rgb(51,51,51);
    background-color: rgba(51,51,51,0.9);
}
.contactInfo {
    float: left;
    width: 60%;
    font-size: 20px;
    margin: 0;
    display: block;
}
.contactInfo div {
    margin: 1% 0%;
    text-align: left;
    border-bottom: 1px solid white;
}
.contactInfo div:last-of-type {
    border: none;
}
div#map {
    width: 35%;
    height: 250px;
    float: right;
    padding: 0;
    margin-top: 2%;
}
#formSend {
    color: white;
    background-color: rgb(25,25,25);
    background-color: rgba(25,25,25,0.8);
    padding: 2% 4%;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
    width: auto;
    transition: 1s;
    height: auto;
}
#formSend:hover {
    background-color: #0CF;
    transition: 1s;
}
form {
    float: left;
    width: 100%;
}
input,
textarea {
    padding: 0 1%;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(25,25,25);
    background-color: rgba(25,25,25,0.5);
    width: 45%;
    margin-bottom: 5px
}
input:nth-of-type(2) {
    float: right;
}
input:nth-of-type(3) {
    width: 25%;
    margin: 0;
}
textarea:focus,
input:focus {
    border: 2px solid #0CF;
}
textarea {
    width: 100%;
    margin-bottom: 20px;
}
input {
    height: 35px;
}
::-webkit-input-placeholder {
   color: white;
}
:-moz-placeholder { /* Firefox 18- */
   color: white;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}
:-ms-input-placeholder {  
   color: white;  
}
.error {
    padding: 2%;
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}
.success {
    color: green;
    padding: 2%;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}
.fa-linkedin-square,
.fa-github-square {
    color: grey;
    cursor: pointer;
    font-size: 40px;
    transition: 1s;
}
.fa-linkedin-square:hover {
    transition: 1s;
    color: #0077B5;
}
.fa-github-square:hover {
    transition: 1s;
    color: #6CC644;
    /*color: #0CF;*/
}
/* == END CONTACT PAGE STYLING ==  */

/* == START FOOTER STYLING == */
footer {
    background: black;
    width: 100%;
    height: auto;
    padding: 2%;
    text-align: center;
    color: white;
    font-size: 14px;
}
footer .row {
    width: 80%;
    margin: 15px auto;
}
footer a {
    color: white;
    font-size: 14px;
}
footer a.top {
    position: fixed;
    bottom: 1em;
    right: 2em;
    text-decoration: none;
    padding: 1%;
    height: 50px;
    width: 50px;
    display: none;
    border-radius: 50%;
    background: rgb(51,51,51);
    color: rgb(0,204,255);
}
footer a.top i {
    font-size: 25px;
}
/* == END FOOTER STYLING == */

/* == START RESPONSIVE STYLING ==  */
@media only screen and (min-width: 1800px) {
    #text_slider h1 {
        font-size: 60px;
        text-indent: 50px;
    }
    .icon-menu {
        font-size: 25px
    }

} 
@media only screen and (max-width: 1150px) {
    .aboutContent {
        width: 100%;
    }
    .aboutContent p {
        width: 100%;
        float: none;
    }
    .profile_pic {    
        margin: 20px auto;
        float: none;
        display: block;
    }
}
@media only screen and (max-width: 1000px) {
    input:nth-of-type(3),
    input {
        width: 100%;
        margin-bottom: 20px;
    }
    #text_slider h1 {
        font-size: 40px;
        text-indent: 0;
    }
    footer a.top i {
        font-size: 30px;
    }
}
@media only screen and (max-width: 800px) {
    .row {
        width: 100%;
    }
    #text_slider {
        width: 50%;
        margin: 0 auto;
    }
    #text_slider h1 {
        font-size: 25px;
    }
    .landingMessage {
        margin-top: 10%;
    }
    .landingMessage a {
        margin: 15px auto;
        display: block;
        width: 50%;
        padding: 1.5%;
    }
    .contactContent {
        padding: 5%;
    }
    input {
        padding: 2%;
    }
    div#map {
        display: none;
    }
    .contactInfo {
        font-size: 18px;
        width: 100%;
    }
    .contactInfo div {
        margin: 5% 0;
    }
    #quote {
        font-size: 2em;
        margin-top: 25%;
    }
    #date,
    #clock {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #smallLogo {
        display: inline-block;
        padding: 0;
        margin: 0 auto;
        width: 25%;
        height: 25%;
    }
    #logo {
        display: none;
    }
    .landingMessage a {
        padding: 2%;
        font-size: 14px;
    }
    footer a.top {
        border: 1px solid white;
    }
    footer a.top i {
        font-size: 40px;
    }
}
/* == END RESPONSIVE STYLING == */